anndata
decoupler
hydra
hydra-core
joypy
jupyterlab
matplotlib
numpy
pandas
phate
protobuf
psutil
scanpy
scikit-learn
scikit-misc
scipy
scprep
scvi-tools
seaborn
sklearn
statannotations
statsmodels
tqdm
signaturescoring @ git+https://github.com/lciernik/ANS_signature_scoring.git
pydeseq2
rpy2
anndata2ri
sc_toolbox
pyreadr
matplotlib_venn